<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.serverapi.order.mapper.OrderInternalDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bin.serverapi.order.entity.OrderInternalDetail">
        <id column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="order_id" property="orderId" />
        <result column="category_id" property="productCategoryId" />
        <result column="product_id" property="productId" />
        <result column="request_num" property="requestNum" />
        <result column="actual_num" property="actualNum" />
        <result column="remark" property="remark" />
        <result column="extra_remark" property="extraRemark" />
        <result column="unit_price" property="unitPrice" />
        <result column="total_fee" property="totalFee" />
        <result column="store_id" property="storeId" />
        <result column="order_type" property="orderType" />
        <result column="add_subject" property="addSubject" />
        <result column="subtract_subject" property="subtractSubject" />
        <result column="internal_date" property="internalDate" />
        <result column="oper_type" property="operType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, order_id, product_id, request_num, actual_num, remark, extra_remark, unit_price, total_fee, store_id, order_type, add_subject, subtract_subject, internal_date, oper_type
    </sql>
    <sql id="Modify_Column_list">
order_internal.id as order_id,order_internal.internal_date as order_internal_date,
CONCAT(product_detail.category_name,'/',product_detail.model_name,' ', product_detail.specification_name,' ', product_detail.description_name,' ', product_detail.remark) as product_name,
order_internal.hand_over_company as order_internal_hand_over_company,order_internal.receipt_company as order_internal_receipt_company,order_internal.hand_over_user as order_internal_hand_over_user,
order_internal.receipt_user as order_internal_receipt_user,order_internal.add_subject as order_internal_add_subject,order_internal.subtract_subject as order_internal_subtract_subject,
order_internal.store_id as order_internal_store_id,order_internal.order_type as order_internal_order_type,order_internal.oper_type as order_internal_oper_type,order_internal.remark as order_internal_remark,
order_internal_detail.id as detail_id, order_internal_detail.order_id as detail_order_id,
order_internal_detail.product_id as detail_product_id, order_internal_detail.actual_num as detail_actual_num,
order_internal_detail.remark as detail_remark, order_internal_detail.unit_price as detail_unit_price,
order_internal_detail.total_fee as detail_total_fee, order_internal_detail.store_id as detail_store_id, order_internal_detail.order_type as detail_order_type, order_internal_detail.internal_date as detail_order_date
    </sql>
    <select id="selectWithOrderInternal" resultType="java.util.Map">
        SELECT <include refid="Modify_Column_list"/>
        FROM order_internal_detail
        LEFT JOIN order_internal on order_internal_detail.order_id = order_internal.id
        LEFT JOIN product_detail on order_internal_detail.product_id = product_detail.id
        <where>
            <if test= "searchData.startDate != null and searchData.startDate != ''">
                and order_internal.internal_date &gt;= #{searchData.startDate}
            </if>
            <if test= "searchData.endDate != null and searchData.endDate != ''">
                and order_internal.internal_date &lt;= #{searchData.endDate}
            </if>
            <if test= "searchData.addSubject != null and searchData.addSubject != ''">
                and order_internal.add_subject = #{searchData.addSubject}
            </if>
            <if test= "searchData.subtractSubject != null and searchData.subtractSubject != ''">
                and order_internal.subtract_subject = #{searchData.subtractSubject}
            </if>
            <if test= "searchData.orderType != null and searchData.orderType != ''">
                and order_internal.order_type = #{searchData.orderType}
            </if>
            <if test= "searchData.operType != null and searchData.operType != ''">
                and order_internal.oper_type = #{searchData.operType}
            </if>
            <if test= "searchData.productDetailIds != null and searchData.productDetailIds != '' and searchData.productDetailIds.size > 0 ">
                and order_internal_detail.product_id in
                <foreach item="item" index="index" collection="searchData.productDetailIds" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by order_internal_detail.order_id desc ,order_internal_detail.internal_date desc
    </select>
    <select id="selectAddForStoreAccount" resultMap="com.bin.serverapi.product.mapper.ProductDetailMapper.SimpleResultMap" resultType="java.util.Map">
        SELECT product_id as product_detail_id,SUM(CASE order_internal_detail.add_subject
        WHEN 1 THEN
		order_internal_detail.actual_num
		ELSE
		0 END) as subject1_num,SUM(CASE order_internal_detail.add_subject
	    WHEN 2 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject2_num,SUM(CASE order_internal_detail.add_subject
	    WHEN 3 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject3_num,SUM(CASE order_internal_detail.add_subject
	    WHEN 4 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject4_num,SUM(CASE order_internal_detail.add_subject
	    WHEN 5 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject5_num
        FROM order_internal_detail
        <where>${ew.sqlSegment}</where>
        GROUP BY order_internal_detail.product_id
    </select>
    <select id="selectSubtractForStoreAccount" resultMap="com.bin.serverapi.product.mapper.ProductDetailMapper.SimpleResultMap" resultType="java.util.Map">
        SELECT product_id as product_detail_id,SUM(CASE order_internal_detail.subtract_subject
        WHEN 1 THEN
		order_internal_detail.actual_num
		ELSE
		0 END) as subject1_num,SUM(CASE order_internal_detail.subtract_subject
	    WHEN 2 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject2_num,SUM(CASE order_internal_detail.subtract_subject
	    WHEN 3 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject3_num,SUM(CASE order_internal_detail.subtract_subject
	    WHEN 4 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject4_num,SUM(CASE order_internal_detail.subtract_subject
	    WHEN 5 THEN
		order_internal_detail.actual_num
	    ELSE
		0 END) as subject5_num
        FROM order_internal_detail
        <where>${ew.sqlSegment}</where>
        GROUP BY order_internal_detail.product_id
    </select>
    <select id="selectAddSubtractForStoreAccount" resultMap="com.bin.serverapi.product.mapper.ProductDetailMapper.SimpleResultMap" resultType="java.util.Map">
        SELECT product_id as product_detail_id ,SUM(CASE
	    WHEN order_internal_detail.add_subject = 1 THEN
		actual_num
	    ELSE
		0
        END) - SUM(CASE
	    WHEN order_internal_detail.subtract_subject = 1 THEN
		actual_num
	    ELSE
		0
        END) as subject1_num,
        SUM(CASE
	    WHEN order_internal_detail.add_subject = 2 THEN
		actual_num
	    ELSE
		0
        END) - SUM(CASE
	    WHEN order_internal_detail.subtract_subject = 2 THEN
		actual_num
	    ELSE
		0
        END) as subject2_num,
        SUM(CASE
	    WHEN order_internal_detail.add_subject = 3 THEN
		actual_num
	    ELSE
		0
        END) - SUM(CASE
	    WHEN order_internal_detail.subtract_subject = 3 THEN
		actual_num
	    ELSE
		0
        END) as subject3_num,
        SUM(CASE
	    WHEN order_internal_detail.add_subject = 4 THEN
		actual_num
	    ELSE
		0
        END) - SUM(CASE
	    WHEN order_internal_detail.subtract_subject = 4 THEN
		actual_num
	    ELSE
		0
        END) as subject4_num,
        SUM(CASE
	    WHEN order_internal_detail.add_subject = 5 THEN
		actual_num
	    ELSE
		0
        END) - SUM(CASE
	    WHEN order_internal_detail.subtract_subject = 5 THEN
		actual_num
	    ELSE
		0
        END) as subject5_num
        FROM order_internal_detail
        <where>${ew.sqlSegment}</where>
        GROUP BY product_id
    </select>
    <select id="selectWithOrderInternalToday" resultType="java.util.Map">
        SELECT <include refid="Modify_Column_list"/>
        FROM order_internal_detail
        LEFT JOIN order_internal on order_internal_detail.order_id = order_internal.id
        LEFT JOIN product_detail on order_internal_detail.product_id = product_detail.id
        WHERE order_internal_detail.create_time BETWEEN DATE_FORMAT(NOW(),'%Y-%m-%d 00:00:00')  AND DATE_FORMAT(NOW(),'%Y-%m-%d 23:59:59')
        order by order_internal_detail.order_id desc ,order_internal_detail.internal_date desc
    </select>
</mapper>
